package main

import (
  "log"
  "net/http"
  "os"

  "{{ .Name }}/database"
  "{{ .Name }}/migrations"
  "{{ .Name }}/myredis"
  "{{ .Name }}/mys3"
  "{{ .Name }}/routes"

  {{- if eq .Framework "fiber" }}
  "github.com/gofiber/fiber/v2"
  "github.com/gofiber/fiber/v2/middleware/cors"
  {{- else if eq .Framework "gin" }}
  "github.com/gin-gonic/gin"
  {{- else if eq .Framework "echo" }}
  "github.com/labstack/echo/v4"
  "github.com/labstack/echo/v4/middleware"
  {{- else if eq .Framework "gorilla/mux" }}
  "github.com/gorilla/mux"
  {{- end }}

  "github.com/joho/godotenv"
  "github.com/robfig/cron/v3"
)

func main() {
  err := godotenv.Load("./.env")
  if err != nil {
    log.Fatalf("Error loading .env file")
  }

  // Initialize the database connection
  database.InitDB()
  migrations.Migrate()

  {{- if .Features.redis }}
  // Initialize the redis connection
  myredis.InitRedis()
  {{- end }}

  {{- if .Features.redis }}
  // Initialize S3 connection
  mys3.InitS3()
  {{- end }}

  allowedOrigins := os.Getenv("ALLOWED_ORIGINS")

  {{- if eq .Framework "fiber" }}
  // Initialize Fiber router
  app := fiber.New()
  app.Use(cors.New(cors.Config{
    AllowOrigins:     allowedOrigins,
    AllowHeaders:     "Origin, Content-Type, Accept",
    AllowCredentials: true,
  }))

  // Register all routes
  routes.RegisterRoutes(app, myredis.RedisClient)

  // Set up cron job
  c := cron.New()
  c.AddFunc("@daily", func() {
    // Add cron jobs
  })
  c.Start()

  defer c.Stop()
  log.Println("Server is running at http://localhost:8080")
  // Start the server
  if err := app.Listen(":8080"); err != nil {
    log.Fatalf("Failed to run server: %v", err)
  }
  {{- else if eq .Framework "gin" }}
  // Initialize Gin router
  r := gin.Default()
  r.Use(gin.Logger())
  r.Use(gin.Recovery())

  // Register all routes
  routes.RegisterRoutes(r, myredis.RedisClient)

  // Set up cron job
  c := cron.New()
  c.AddFunc("@daily", func() {
    // Add cron jobs
  })
  c.Start()

  defer c.Stop()
  // Start the server
  if err := r.Run(":8080"); err != nil {
    log.Fatalf("Failed to run server: %v", err)
  }
  {{- else if eq .Framework "echo" }}
  // Initialize Echo router
  e := echo.New()
  e.Use(middleware.Logger())
  e.Use(middleware.Recover())
  e.Use(middleware.CORSWithConfig(middleware.CORSConfig{
    AllowOrigins:     []string{allowedOrigins},
    AllowHeaders:     []string{"Origin", "Content-Type", "Accept"},
    AllowCredentials: true,
  }))

  // Register all routes
  routes.RegisterRoutes(e, myredis.RedisClient)

  // Set up cron job
  c := cron.New()
  c.AddFunc("@daily", func() {
    // Add cron jobs
  })
  c.Start()

  defer c.Stop()
  log.Println("Server is running at http://localhost:8080")
  // Start the server
  if err := e.Start(":8080"); err != nil {
    log.Fatalf("Failed to run server: %v", err)
  }
  {{- else if eq .Framework "gorilla/mux" }}
  // Initialize Gorilla Mux router
  r := mux.NewRouter()

  // Register all routes
  routes.RegisterRoutes(r, myredis.RedisClient)

  // Set up cron job
  c := cron.New()
  c.AddFunc("@daily", func() {
    // Add cron jobs
  })
  c.Start()

  defer c.Stop()
  log.Println("Server is running at http://localhost:8080")
  // Start the server
  if err := http.ListenAndServe(":8080", r); err != nil {
    log.Fatalf("Failed to run server: %v", err)
  }
  {{- end }}
}
